# Node modules
node_modules/

# Environment variables
.env

# User-specific files
.DS_Store
.vscode/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
/jspm_packages/
/node_modules/
/public/bower_components/
/vendor/

# Compiled binary addons
/build/Release

# Misc
Thumbs.db
.DS_Store